{% extends 'basic/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if messages %}
<br>
<div class="alert alert-success" role="alert">
	<ul class="messages">
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
<br>
	<div class="col">
		<div class="col-md">
			<div class="card mb-3" style="width: 800px; margin: auto;">
			  	<div class="card-header text-center">
			  		<h5 class="card-title">Create Order</h5>
			  	</div>
			  	<div class="card-body">
			    	<form method="post">
			    		{% csrf_token %}
			    		{{ formset.management_form }}
			    		{% for form in formset %}
			    			{{form}}
			    			<hr>
			    		{% endfor %}
			    		<input class="btn btn-primary  btn-sm" type="submit" value="Create" name="">
			    	</form>
			  	</div>
			</div>
		</div>
	</div>
{% endblock %}