{% extends 'basic/base.html' %}
{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body mt-3">
			<h5>Customer</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body mt-3">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{customer.email}}</p>
			<p>Phone: +{{customer.telephone}}</p>
		</div>
	</div>
	<div class="col-md">
		<div class="card card-body mt-3">
			<h5>Total Orders:</h5>
			<hr>
			<h1 class="text-center">{{orders.count}}</h1>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				<tr><th><label for="id_product">Product:</label></th><td><select name="product" id="id_product">
				  <option value="" selected>---------</option>

				  {% for product in products %}
				  <option value="{{product.name}}">{{product.name}}</option>
				  {%endfor%}

					</select></td></tr>
					<tr><th><label for="id_status">Status:</label></th><td><select name="status" id="id_status">
					  <option value="" selected>---------</option>
					  {% for order in orders_status %}
					  <option value="{{order.status}}">{{order.status}}</option>
					  {%endfor%}

					</select></td></tr>
					<!-- <tr><th><label for="id_start_date">Start Date:</label></th><td><input type="text" name="start_date" id="id_start_date"></td></tr>
					<tr><th><label for="id_end_date">End Date:</label></th><td><input type="text" name="end_date" id="id_end_date"></td></tr> -->

					<button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				
				{% for order in orders %}
				<tr>
					<td>{{order.product.name}}</td>
					<td>{{order.status}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="">Update</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
				</tr>
				{%endfor%}
			</table>
		</div>
	</div>
</div>
{% endblock %}
